@charset "UTF8";

@font-face {
    font-family:'on-fire' ;
    src: url('fontes/On\ Fire\ Free\ Trial.ttf') format('truetype');}
@font-face 
{font-family: 'street-devil';
    src: url('fontes/STREET\ DEVIL.ttf') format('truetype');}

:root
{--cor01:#4d4d4d;
 --cor02:#1D1340 ;
 --cor03:#1B1259;
 --cor04:#131026 ;
 --cor05:#212026;
 --cor06:#57429F;
 --cor07:#6C57F2;

 --fonte01: 'on-fire', 'cursive';
 --fonte02: 'street-devil', 'cursive';}

*
{margin: 0px;
padding: 0px;}

body
{background-image: linear-gradient(var(--cor05), var(--cor02), var(--cor04));}

/* ---------------CABEÇALHO-------------------*/

header
{height: 100px;
background-color:var(--cor06);}

header > h1
{padding: 25px;
color: white;
font-family: var(--fonte01);
font-weight: normal;
font-size: 4em;}

/* ---------------MENU-------------------*/

menu
{background-color: var(--cor05);
font-family: Arial, Helvetica, sans-serif;}

menu > ul
{list-style-type:none}

menu > ul > li
{display: inline-block;
padding: 10px;
font-size: 1.2em;}

menu > ul > li > a
{color: white;
font-weight: bold;
text-decoration: none;}

/* ---------------APRESENTAÇÃO-------------------*/
main > section#apr
{background-image: url('imagem/over.png');
background-repeat: no-repeat;
background-position: bottom;
height: 800px;}

main > section#apr > div#img-apr
{display: block;
text-align: center;
overflow-x: auto;}

div#img-apr::-webkit-scrollbar
{width: 0px;}

/* ---------------TRABALHOS-------------------*/

main > section#trabalhos
{display: block;
text-align: center;}

main > section#trabalhos > h2
{font-size: 2em;
color: white;
border-bottom: 3px solid white;
padding-top: 20px;
font-family: var(--fonte02);
font-weight: normal;}

main .lista-trabalhos
{display: flex;
flex-wrap: wrap;
gap: 30px;
padding: 30px 0px;
justify-content: center;
list-style-type:none}

main .projeto
{display:flex;
flex-direction: column;
height: 340px;
width: 300px;
border: 2px solid white;
color: white;
background-color: var(--cor06);
font-size: 1.4em;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;}

 main .img
{height: 300px;
width: 300px;}

main .link-projeto
{text-decoration: none;
color: white;}

main .projeto:hover
{background-color: var(--cor07);}

/* ---------------CONTATOS-------------------*/

main > section#contatos
{display: block;
text-align: center;}

main > section#contatos h2
{font-size: 2em;
color: white;
border-top: 3px solid white;
border-bottom: 3px solid white;
text-align: center;
padding-top: 20px;
font-family: var(--fonte02);
font-weight: normal;}

main > section#contatos div
{margin: 30px;
height: 200px;
width: 200px;
display: inline-block;}

main > section#contatos img
{height: 120px;
width: 120px;}

main > section#contatos a
{text-decoration: none;
font-size: 2.1em;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: white;}

/* ---------------RODAPÉ------------------*/

footer
{height: 50px;
color: white;
background-color: var(--cor05);
font-family: var(--fonte01);
padding-left: 10px;}

footer > a
{color: white;
background-color: var(--cor05);
font-size: 2em;
font-family: var(--fonte01);
font-weight: normal;
text-decoration: none;
padding-left: 10px;}