@charset "UTF8";

@media screen and (min-width:700px) and (max-width:1080px){
    main > section#apr
    {height: 500px;}

    section#trabalhos
    {max-width:640px;
    display:block;
    margin: auto;}
    
    main .lista-trabalhos
    {display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:left;
    padding: 30px 0px;}
}

@media screen and (min-width:1080px){

    main > section#apr
    {height: 500px;}

    section#trabalhos
    {max-width:974px;
    display:block;
    margin: auto;}
    
    main .lista-trabalhos
    {display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:left;
    padding: 30px 0px;}
}